# How to speed up Dask query 10x

This notebook requires you to download a dataset from S3 to your local machine.

## Localhost data setup

In [2]:
!mkdir data

In [4]:
!aws s3 cp s3://coiled-datasets/h2o/G1_1e8_1e2_0_0/csv/G1_1e8_1e2_0_0.csv data/G1_1e8_1e2_0_0.csv

fatal error: An error occurred (404) when calling the HeadObject operation: Key "h2o/G1_1e7_1e2_0_0/csv/G1_1e8_1e2_0_0.csv" does not exist

## Query baselines

In [1]:
import dask.dataframe as dd

In [15]:
dd.read_csv("data/G1_1e8_1e2_0_0.csv").dtypes

id1     object
id2     object
id3     object
id4      int64
id5      int64
id6      int64
v1       int64
v2       int64
v3     float64
dtype: object

### Use horribly inefficient dtypes

In [9]:
dtypes = {
    "id1": "object",
    "id2": "object",
    "id3": "object",
    "id4": "object",
    "id5": "object",
    "id6": "object",
    "v1": "object",
    "v2": "object",
    "v3": "object",
}

In [10]:
ddf = dd.read_csv("data/G1_1e8_1e2_0_0.csv", dtype=dtypes)

In [11]:
ddf.head()

     id1    id2           id3 id4 id5     id6 v1  v2         v3
0  id016  id046  id0000109363  88  13  146094  4   6  18.837686
1  id039  id087  id0000466766  14  30  111330  4  14  46.797328
2  id047  id098  id0000307804  85  23  187639  3   5  47.577311
3  id043  id017  id0000344864  87  76  256509  2   5  80.462924
4  id054  id027  id0000433679  99  67   32736  1   7  15.796662

In [12]:
ddf.dtypes

id1    object
id2    object
id3    object
id4    object
id5    object
id6    object
v1     object
v2     object
v3     object
dtype: object

In [13]:
ddf["v1"] = ddf["v1"].astype("int64")

In [14]:
%%time
ddf.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 1min 55s, sys: 23.6 s, total: 2min 18s
Wall time: 2min 2s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

### Use better dtypes

In [15]:
better_dtypes = {
    "id1": "string[pyarrow]",
    "id2": "string[pyarrow]",
    "id3": "string[pyarrow]",
    "id4": "int64",
    "id5": "int64",
    "id6": "int64",
    "v1": "int64",
    "v2": "int64",
    "v3": "float64",
}

In [16]:
ddf = dd.read_csv("data/G1_1e8_1e2_0_0.csv", dtype=better_dtypes)

In [17]:
%%time
ddf.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 1min 28s, sys: 14 s, total: 1min 43s
Wall time: 1min 7s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## Split files

In [19]:
ddf.repartition(partition_size="100MB").to_csv("data/csvs")

['/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/000.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/001.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/002.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/003.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/004.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/005.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/006.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/007.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/008.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/009.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/010.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/011.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/012.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/013.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/014.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/015.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/016.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/017.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/018.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/019.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/020.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/021.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/022.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/023.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/024.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/025.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/026.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/027.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/028.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/029.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/030.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/031.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/032.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/033.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/034.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/035.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/036.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/037.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/038.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/039.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/040.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/041.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/042.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/043.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/044.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/045.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/046.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/047.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/048.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/049.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/050.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/051.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/052.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/053.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/054.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/055.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/056.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/057.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/058.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/059.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/060.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/061.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/062.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/063.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/064.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/065.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/066.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/067.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/068.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/069.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/070.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/071.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/072.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/073.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/074.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/075.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/076.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/077.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/078.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/079.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/080.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/081.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/082.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/083.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/084.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/085.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/086.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/087.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/088.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/089.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/090.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/091.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/092.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/093.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/094.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/095.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/096.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/097.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/098.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/099.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/100.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/101.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/102.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/103.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/104.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/105.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/106.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/107.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/108.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/109.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/110.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/111.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/112.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/113.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/114.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/115.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/116.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/117.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/118.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/119.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/120.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/121.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/122.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/123.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/124.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/125.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/126.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/127.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/128.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/129.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/130.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/131.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/132.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/133.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/134.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/135.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/136.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/137.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/138.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/139.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/140.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/141.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/142.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/143.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/144.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/145.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/146.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/147.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/148.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/149.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/150.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/151.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/152.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/153.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/154.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/155.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/156.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/157.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/158.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/159.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/160.part',
 '/Users/powers/Documents/code/coiled/coiled-resources/local/data/csvs/161.part']

In [18]:
ddf = dd.read_csv("data/csvs/*.part", dtype=better_dtypes)

In [19]:
%%time
ddf.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 1min 36s, sys: 8.27 s, total: 1min 44s
Wall time: 1min 1s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## Using Parquet

In [23]:
ddf.to_parquet("data/parquet", engine="pyarrow", compression=None)

(None,)

In [20]:
ddf = dd.read_parquet("data/parquet", engine="pyarrow")

In [21]:
%%time
ddf.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 42.8 s, sys: 10.1 s, total: 52.9 s
Wall time: 39.1 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## Using Snappy compressed Parquet

In [4]:
ddf.to_parquet("data/snappy-parquet", engine="pyarrow", compression="snappy")

(None,)

In [22]:
ddf = dd.read_parquet("data/snappy-parquet", engine="pyarrow")

In [23]:
%%time
ddf.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 46.4 s, sys: 6.68 s, total: 53.1 s
Wall time: 37.8 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## Leveraging column pruning

In [36]:
ddf = dd.read_parquet("data/snappy-parquet", engine="pyarrow", columns=["id1", "v1"])

In [37]:
%%time
ddf.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"}).compute()

CPU times: user 23.7 s, sys: 685 ms, total: 24.3 s
Wall time: 18.6 s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

## Pandas comparison

In [30]:
import pandas as pd

In [33]:
%%time
df = pd.read_csv("data/G1_1e8_1e2_0_0.csv")
df.groupby("id1", dropna=False, observed=True).agg({"v1": "sum"})

CPU times: user 1min 1s, sys: 33 s, total: 1min 34s
Wall time: 3min 2s

            v1
id1
id001  2997617
id002  2997194
id003  3001204
id004  3000945
id005  3001731
...        ...
id096  2997704
id097  3004476
id098  2996139
id099  3001163
id100  2998376

[100 rows x 1 columns]

In [34]:
df.dtypes

id1     object
id2     object
id3     object
id4      int64
id5      int64
id6      int64
v1       int64
v2       int64
v3     float64
dtype: object