In [2]:
import dask.dataframe as dd
import pandas as pd

In [3]:
df = pd.DataFrame({"col1": ["aa", "dd", "cc", "bb"], "col2": ["a", "d", "c", "b"]})

In [16]:
df.sort_values(by=['col1'])

  col1 col2
0   aa    a
3   bb    b
2   cc    c
1   dd    d

In [17]:
df.sort_values(by=['col1']).reset_index()

   index col1 col2
0      0   aa    a
1      3   bb    b
2      2   cc    c
3      1   dd    d

In [7]:
ddf = dd.from_pandas(df, npartitions=2)

In [8]:
ddf.compute()

  col1 col2
0   aa    a
1   dd    d
2   cc    c
3   bb    b

In [18]:
ddf.sort_values(by=['col1']).reset_index().compute()

   index col1 col2
0      0   aa    a
1      3   bb    b
2      2   cc    c
3      1   dd    d

In [20]:
ddf.sort_values(by=['col1']).npartitions

2