In [1]:
import coiled
import dask
import dask.dataframe as dd
import pandas as pd

In [2]:
cluster = coiled.Cluster(name="demo-cluster", n_workers=5)

/Users/powers/opt/miniconda3/envs/standard-coiled/lib/python3.9/site-packages/rich/live.py:227: UserWarning: install "ipywidgets" for Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

Found software environment build
Created FW rules: coiled-dask-matthew24-51402-firewall
Created scheduler VM: coiled-dask-matthew24-51402-scheduler (type: t3a.medium, ip: ['3.234.250.126'])

In [3]:
client = dask.distributed.Client(cluster)

/Users/powers/opt/miniconda3/envs/standard-coiled/lib/python3.9/site-packages/distributed/client.py:1105: VersionMismatchWarning: Mismatched versions found

+-------------+-----------+-----------+-----------+
| Package     | client    | scheduler | workers   |
+-------------+-----------+-----------+-----------+
| cloudpickle | 1.6.0     | 2.0.0     | 2.0.0     |
| dask        | 2021.08.1 | 2021.09.1 | 2021.09.1 |
| distributed | 2021.08.1 | 2021.09.1 | 2021.09.1 |
| pandas      | 1.3.2     | 1.3.3     | 1.3.3     |
+-------------+-----------+-----------+-----------+
  warnings.warn(version_module.VersionMismatchWarning(msg[0]["warning"]))

In [10]:
ddf = dd.read_parquet(
    "s3://coiled-datasets/timeseries/20-years/parquet",
    storage_options={"anon": True, "use_ssl": True},
    ignore_metadata_file=False,
    engine="pyarrow",
)

In [11]:
ddf.head()

                       id      name         x         y
timestamp
2000-01-01 00:00:00  1008       Dan -0.259374 -0.118314
2000-01-01 00:00:01   987  Patricia  0.069601  0.755351
2000-01-01 00:00:02   980     Zelda -0.281843 -0.510507
2000-01-01 00:00:03  1020    Ursula -0.569904  0.523132
2000-01-01 00:00:04   967   Michael -0.251460  0.810930

In [13]:
%%time

ddf["name"].nunique().compute()

CPU times: user 259 ms, sys: 22.1 ms, total: 281 ms
Wall time: 52.6 s

26

In [7]:
%%time

len(ddf)

CPU times: user 328 ms, sys: 28.7 ms, total: 357 ms
Wall time: 1min 6s

662256000

In [14]:
ddf2 = dd.read_parquet(
    "s3://coiled-datasets/timeseries/20-years/parquet",
    storage_options={"anon": True, "use_ssl": True},
    ignore_metadata_file=True,
    engine="pyarrow",
)

In [15]:
%%time

ddf2["name"].nunique().compute()

CPU times: user 277 ms, sys: 30.6 ms, total: 308 ms
Wall time: 43.7 s

26

In [9]:
%%time

len(ddf2)

CPU times: user 282 ms, sys: 36.9 ms, total: 319 ms
Wall time: 51.3 s

662256000