In [4]:
import dask.dataframe as dd
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({'a': [np.random.randint(100, size=4) for _ in range(20)]})
dask_df = dd.from_pandas(df, chunksize=10)

In [6]:
dask_df['a'].compute()

0      [71, 16, 0, 10]
1     [59, 65, 99, 74]
2     [83, 26, 33, 38]
3      [70, 5, 19, 37]
4       [0, 59, 4, 80]
5     [14, 83, 89, 78]
6     [76, 73, 70, 68]
7     [66, 32, 88, 32]
8     [13, 33, 88, 88]
9     [64, 77, 11, 50]
10    [37, 62, 29, 60]
11    [32, 89, 60, 75]
12    [56, 74, 31, 94]
13    [72, 80, 37, 67]
14    [60, 27, 65, 13]
15    [14, 36, 55, 72]
16    [49, 82, 94, 71]
17     [77, 9, 29, 27]
18     [2, 74, 54, 66]
19    [30, 40, 29, 73]
Name: a, dtype: object

In [8]:
print(dask_df.compute())

                   a
0    [71, 16, 0, 10]
1   [59, 65, 99, 74]
2   [83, 26, 33, 38]
3    [70, 5, 19, 37]
4     [0, 59, 4, 80]
5   [14, 83, 89, 78]
6   [76, 73, 70, 68]
7   [66, 32, 88, 32]
8   [13, 33, 88, 88]
9   [64, 77, 11, 50]
10  [37, 62, 29, 60]
11  [32, 89, 60, 75]
12  [56, 74, 31, 94]
13  [72, 80, 37, 67]
14  [60, 27, 65, 13]
15  [14, 36, 55, 72]
16  [49, 82, 94, 71]
17   [77, 9, 29, 27]
18   [2, 74, 54, 66]
19  [30, 40, 29, 73]

In [17]:
dask_df["a"].str[0].compute()

0     71
1     59
2     83
3     70
4      0
5     14
6     76
7     66
8     13
9     64
10    37
11    32
12    56
13    72
14    60
15    14
16    49
17    77
18     2
19    30
Name: a, dtype: int64

In [19]:
dask_df["a0"] = dask_df["a"].str[0]
dask_df["a1"] = dask_df["a"].str[1]
dask_df["a2"] = dask_df["a"].str[2]
dask_df["a3"] = dask_df["a"].str[3]

In [21]:
print(dask_df.head())

                  a  a0  a1  a2  a3
0   [71, 16, 0, 10]  71  16   0  10
1  [59, 65, 99, 74]  59  65  99  74
2  [83, 26, 33, 38]  83  26  33  38
3   [70, 5, 19, 37]  70   5  19  37
4    [0, 59, 4, 80]   0  59   4  80

In [22]:
meta = df['a'].apply(pd.Series)
new_dask_df = dask_df['a'].apply(pd.Series, meta=meta)
new_dask_df.compute()

     0   1   2   3
0   71  16   0  10
1   59  65  99  74
2   83  26  33  38
3   70   5  19  37
4    0  59   4  80
5   14  83  89  78
6   76  73  70  68
7   66  32  88  32
8   13  33  88  88
9   64  77  11  50
10  37  62  29  60
11  32  89  60  75
12  56  74  31  94
13  72  80  37  67
14  60  27  65  13
15  14  36  55  72
16  49  82  94  71
17  77   9  29  27
18   2  74  54  66
19  30  40  29  73

In [29]:
a_count = dask_df.a0.value_counts()

In [30]:
type(a_count)

dask.dataframe.core.Series

In [31]:
a_count.compute()

14    2
0     1
60    1
77    1
76    1
72    1
71    1
70    1
66    1
64    1
59    1
2     1
56    1
49    1
37    1
32    1
30    1
13    1
83    1
Name: a0, dtype: int64