# Using Pandas on Coiled Cluster

Start by spinning up a Coiled cluster.

In [1]:
import coiled
import dask
import pandas as pd

In [2]:
cluster = coiled.Cluster(name="demo-cluster", n_workers=1)

/Users/powers/opt/miniconda3/envs/standard-coiled/lib/python3.9/site-packages/rich/live.py:227: UserWarning: install "ipywidgets" for Jupyter support
  warnings.warn('install "ipywidgets" for Jupyter support')

Your account is using the ECS backend.

After September 16th, accounts using the ECS backend will be migrated to the default AWS VM backend. For more information, refer to the backend documentation and the FAQ:

https://docs.coiled.io/user_guide/backends
https://docs.coiled.io/user_guide/faq.html#backends
Found software environment build

In [4]:
client = dask.distributed.Client(cluster)

/Users/powers/opt/miniconda3/envs/standard-coiled/lib/python3.9/site-packages/distributed/client.py:1105: VersionMismatchWarning: Mismatched versions found

+---------+---------------+---------------+---------------+
| Package | client        | scheduler     | workers       |
+---------+---------------+---------------+---------------+
| python  | 3.9.7.final.0 | 3.9.6.final.0 | 3.9.6.final.0 |
+---------+---------------+---------------+---------------+
  warnings.warn(version_module.VersionMismatchWarning(msg[0]["warning"]))

In [5]:
client

## Read dataset with Pandas

In [7]:
df = pd.read_csv(
    "s3://coiled-datasets/timeseries/1h/csv/2000/0000.csv",
    storage_options={"anon": True, "use_ssl": True},
)

In [9]:
df

                timestamp    id      name         x         y
0     2000-01-01 00:00:00   975       Dan  0.794829  0.396008
1     2000-01-01 00:00:01  1019  Patricia -0.801709 -0.328839
2     2000-01-01 00:00:02   989     Zelda -0.825186  0.364211
3     2000-01-01 00:00:03  1015    Ursula -0.584527  0.396407
4     2000-01-01 00:00:04  1038   Michael -0.491033  0.518335
...                   ...   ...       ...       ...       ...
3595  2000-01-01 00:59:55  1030    Hannah -0.557119  0.748330
3596  2000-01-01 00:59:56   995       Tim  0.454032 -0.603087
3597  2000-01-01 00:59:57  1022   Michael -0.407253  0.697689
3598  2000-01-01 00:59:58  1026     Wendy -0.007258  0.756746
3599  2000-01-01 00:59:59  1042     Zelda -0.379507  0.384527

[3600 rows x 5 columns]

## Query the dataset

In [8]:
len(df)

3600

In [10]:
df[["name"]].nunique()

name    26
dtype: int64

## Concluding points

* We can use Coiled to run Pandas computations in the cloud
* Coiled software environments would probably work with Pandas too
* We'd need to do some work to make it easy for users to spin up different instance types