# Pandas is eager & Dask is lazy

This notebook demonstrates how pandas executed computations eagerly and how Dask executes computations lazily.

## eager pandas

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"letter": ["a", "b", "c", "d"], "number": [10, 20, 30, 40]})

In [3]:
df

  letter  number
0      a      10
1      b      20
2      c      30
3      d      40

In [6]:
df.loc[df["number"] > 25]

  letter  number
2      c      30
3      d      40

## lazy Dask

In [7]:
import dask.dataframe as dd

In [8]:
ddf = dd.from_pandas(df, npartitions=2)

In [10]:
ddf.loc[ddf["number"] > 25]

Dask DataFrame Structure:
               letter number
npartitions=2
0              object  int64
2                 ...    ...
3                 ...    ...
Dask Name: loc-series, 8 tasks

In [11]:
type(ddf.loc[ddf["number"] > 25])

dask.dataframe.core.DataFrame

In [12]:
ddf.loc[ddf["number"] > 25].compute()

  letter  number
2      c      30
3      d      40