# Convert pandas DataFrame to Dask DataFrame

## pandas

In [1]:
import pandas as pd

In [2]:
%%time

df = pd.read_csv("checkouts-subset.csv")

CPU times: user 57.8 s, sys: 20.3 s, total: 1min 18s
Wall time: 1min 21s

In [3]:
df.head()

,Unnamed: 0,UsageClass,CheckoutType,MaterialType,CheckoutYear,CheckoutMonth,Checkouts,Title,Creator,Subjects,Publisher,PublicationYear
0,0,Physical,Horizon,BOOK,2006,6,1,McGraw-Hill's dictionary of American slang and...,"Spears, Richard A.",English language United States Slang Dictionar...,"McGraw-Hill,",c2006.
1,1,Physical,Horizon,BOOK,2006,6,1,"Emma, Lady Hamilton / Flora Fraser.","Fraser, Flora","Hamilton Emma Lady 1761 1815, Nelson Horatio N...","Knopf : Distributed by Random House,","1987, c1986."
2,2,Physical,Horizon,BOOK,2006,6,2,Red midnight,NaN,"Survival Fiction, Emigration and immigration F...",NaN,NaN
3,3,Physical,Horizon,BOOK,2006,6,1,Just the financial facts how to identify nugge...,NaN,Investments Information services,NaN,NaN
4,4,Physical,Horizon,SOUNDCASS,2006,6,3,single shard,NaN,"Korea Fiction, Pottery Fiction",NaN,NaN

In [4]:
%%time

df.groupby("UsageClass").Checkouts.sum()

CPU times: user 984 ms, sys: 407 ms, total: 1.39 s
Wall time: 1.4 s

UsageClass
Digital      8772938
Physical    52609482
Name: Checkouts, dtype: int64

## Dask

In [5]:
import dask.dataframe as dd

In [6]:
%%time

ddf = dd.from_pandas(df, npartitions=10)

CPU times: user 27.4 s, sys: 10.8 s, total: 38.2 s
Wall time: 41.6 s

In [7]:
%%time

result = ddf.groupby("UsageClass").Checkouts.sum()

CPU times: user 5.69 ms, sys: 7.47 ms, total: 13.2 ms
Wall time: 14.5 ms

In [8]:
result

Dask Series Structure:
npartitions=1
    int64
      ...
Name: Checkouts, dtype: int64
Dask Name: series-groupby-sum-agg, 23 tasks

In [9]:
%%time

result.compute()

CPU times: user 910 ms, sys: 439 ms, total: 1.35 s
Wall time: 634 ms

UsageClass
Digital      8772938
Physical    52609482
Name: Checkouts, dtype: int64