In [3]:
import glob
import os

import pandas as pd

## Read files in same directory

In [4]:
all_files = glob.glob("animals/*.csv")

In [6]:
df = pd.concat((pd.read_csv(f) for f in all_files))

In [8]:
print(df)

  animal_name animal_type
0        susy     sparrow
1       larry        lion
0         dan     dolphin
1      camila         cat

## Read files in different directory

In [10]:
home = os.path.expanduser("~")

In [13]:
path = f"{home}/Documents/code/coiled/coiled-datasets/data/animals/"
all_files = glob.glob(path + "/*.csv")

In [14]:
df = pd.concat((pd.read_csv(f) for f in all_files))

In [15]:
print(df)

  animal_name animal_type
0        susy     sparrow
1       larry        lion
0         dan     dolphin
1      camila         cat

## Read multiple files with Dask

In [16]:
import dask.dataframe as dd

In [18]:
ddf = dd.read_csv(f"{path}/*.csv")

In [ ]:
df = ddf.compute()

In [19]:
print(df)

  animal_name animal_type
0        susy     sparrow
1       larry        lion
0         dan     dolphin
1      camila         cat

## Read nested files

In [21]:
path = f"{home}/Documents/code/coiled/coiled-datasets/data/fish/"
all_files = glob.glob(path + "/**/*.csv")

In [22]:
df = pd.concat((pd.read_csv(f) for f in all_files))

In [23]:
print(df)

  fish_name fish_type
0     carol   catfish
1     maria  mackerel
0     betty      bass
1     sally   snapper
0    marvin    marlin
1      tony      tuna