In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"letter": ["a", "b", "c", "d"], "number": [10, 20, 30, 40]})

In [3]:
df

  letter  number
0      a      10
1      b      20
2      c      30
3      d      40

In [4]:
df["number"].mean()

25.0

In [6]:
df.iloc[[1, 3]]

  letter  number
1      b      20
3      d      40